.wheels {
position: relative;
height: auto;
width: auto;
}

.forza {
    background: radial-gradient(circle, rgba(251,63,63,1) 0%, rgba(140,0,29,1) 64%);
}

.intelletto {
    background: radial-gradient(circle, rgba(63,118,251,1) 0%, rgba(0,5,96,1) 64%);
}

.motorics {
    background: radial-gradient(circle, rgba(210,155,42,1) 0%, rgba(156,99,0,1) 64%);
}

.psiche {
    background: radial-gradient(circle, rgba(164,53,255,1) 0%, rgba(96,0,156,1) 64%);
}

.wheel-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wheel {
    position: absolute;
    top: 50%;
    left: 50%; 
    border-radius: 50%;
    width: 360px;
    height: 360px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

.wheelshowfalse {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.wheelshowtrue {
    opacity: 1;
    max-height: 2000px;
    transition: opacity 0.5s ease-in-out;
}

.inner-circle {
    width: 140px;
    height: 140px;
    border: 3px solid whitesmoke;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.inner-circle p {
    margin-top: 45px;
}

.stats-arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats-arrows img {
    width: 30px;
    margin-top: -20px;
    padding: 0px 40px;
    filter: invert(1) drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black)
}

.stats-arrows img:hover {
    filter: invert(1) drop-shadow(0px 0px 2px orange) drop-shadow(0px 0px 2px orange) drop-shadow(0px 0px 2px orange)
}


.inner-circle p {
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    font-size: 30px;
}

.arc {
    position: absolute;
    border-radius: 100%;
    width: 110px;
    height: 110px;
    box-shadow: 0px 0px 4px 4px whitesmoke;  
}

.arcwrapper {
    position: relative;
}

.arc:hover {
    box-shadow: 0px 0px 4px 6px orange;
    cursor: pointer;
}

.wheel > *:nth-child(1) {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.wheel > *:nth-child(2) {
    bottom: -10px;
    left: 40px;
    z-index: 90;
}

.wheel > *:nth-child(3) {
    top: 85px;
    left: -20px;
}

.wheel > *:nth-child(4) {
    bottom: -10px;
    right: 40px;
}

.wheel > *:nth-child(5) {
    right: -20px;
    top: 85px;
}

.skillwheelname {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 20px;
    width: 150px;
    transform: translate(-50%, -50%);
    text-align: center;
    filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black);
}

.inner-circle:hover {
    box-shadow: 0px 0px 4px 6px orange;
}

.inner-circle p:hover {
    text-shadow: 0px 0px 4px orange, 0px 0px 4px orange, 0px 0px 4px orange, 0px 0px 4px orange;
}

.add-summary {
    display: none;
}

.icon:hover + .add-summary {
    display: block;
}